*
{
	text-decoration: none;
}
html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
.std_container
{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f0f0f0
}




.ep_container
{
	height: auto;
	width: 50%;
}
.ep_form
{
	border: 1px solid #bfbfcf;
	border-radius: 5px;
	height: auto;
	width: 90%;
	background-color: white;
	padding: 30px 30px 30px 30px;
}
.ep_form_field
{
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}
.ep_form_field label
{
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 5px;
}
.ep_form_field .in_text
{
	border: 1px solid #bfbfcf;
	border-radius: 3px;
	padding: 0px 9px 0px 9px;
	margin-top: 5px;
	height: 32px;
	width: 50%;
}
.ep_form_field .in_radio
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 32px;
	width: 50%;
}
.ep_form_image
{
	height: 128px;
	width: 128px;
}
.ep_form_image img
{
	border-radius: 5px;
}
.ep_form_image img:hover
{
	cursor: pointer;
	box-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black;
}