*
{
	text-decoration: none;
}
html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}



.navbar
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 9;
	height: 50px;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px, rgba(0, 0, 0, 0.05) 0px 1px 4px 0px, rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
	background-color: #F9F9F9;
}.prenav
{
	height: 2px;
	width: 100%;
	background-color: lightblue;
}
.navbar_el_container
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 32px;
	width: 80%;
}
.navbar_logo
{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
	width: 128px;
}
.navbar_logo img
{
	height: 30px;
	width: 90px;
	margin: 0px 3px 0px 3px;
}
.navbar_search_location
{
	height: 15px;
	width: 320px;
	padding: 7px 9px 8px 32px;
	border: 1px solid #bfbfcf;
	border-radius: 3px;
}
.navbar_search_speciality
{
	height: 15px;
	width: 256px;
	padding: 7px 9px 8px 32px;
	border: 1px solid #bfbfcf;
	border-radius: 3px;
}
.navbar_search_submit
{
	height: 100%;
	width: auto;
	padding: 7px 9px 7px 9px;
	border: 1px solid #bfbfcf;
	border-radius: 3px;
	background-color: white;
}
.navbar_auth_login
{
	font-size: 15px;
	padding: 6px 9px 7px 9px;
	margin-left: 5px;
}
.navbar_auth_signup
{
	font-size: 15px;
	padding: 6px 9px 7px 9px;
	margin-left: 5px;
}
.navbar_loggedin
{
	display: none;
	flex-direction: row;
	align-items: center;
	height: 100%;
	width: 128px;
}
.navbar_loggedin img
{
	height: 100%;
	width: 32px;
	margin: 0px 3px 0px 3px;
}
.navbar_loggedin span
{
	font-size: 15px;
	margin-left: 3px;
}